/* Estilos para el contenedor principal que cubre toda la pantalla */
.registro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/login2.png'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; 
}

/* Estilos para el formulario */
.Registro {
    background-color: #ffffffc3;
    border-radius: 8px;
    padding: 20px;
    max-width: 40%; 
    width: 50%; 
    margin: 0px ;
}

/* Estilos para el título "registro" */
.Registro legend {
    font-size: 30px; 
    font-weight: bold;
    margin-bottom: 20px; 
    text-align: center; 
    text-transform: uppercase; 
    color: black;
}

/* Estilos para el botón de registro */
.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Estilos para el texto pequeño ultimos registro y login */
.form-text,
.card-link {
  font-size: 16px;
  color: #000000; 
  text-decoration: none; 
  transition: color 0.3s ease; 
  text-align: center;

}

.card-link:hover {
  color: #0056b3; 
}

/* Estilos para la imagen */
.image img {
    max-width: 100%; 
    height: auto;
    display: block; 
}
  
.image2-2 {
    width: 35%; 
    text-align: right; 
    border-radius: 10px; 
}
  
.image2-2 img {
    width: 100%; 
    height: auto;
    display: block; 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
}


/* Media query para dispositivos más pequeños */
@media screen and (max-width: 768px) {
  .Registro {
      max-width: 100%;
      width: 90%;
      height: 90%;
      padding: 10px;    
      font-size: 10px; 
  }
  .form-label {
      font-size: 15px; 
  }
  .Registro legend {
      font-size: 20px; 
  }
  .form-group {
      margin-bottom: 15px; /* Reducir el margen entre los elementos form-group */
  }
  .Registro legend {
      margin-bottom: -30px; /* Reducir el margen inferior de legend */
  }
  .image2-2 {
      display: none;
  }
  .image {
      display: none;
  }
  
  /* Estilos para el mensaje de error */
  .registro-container p {
      color: red;
      font-size: 12px;
      margin-top: 5px; /* Ajusta el espacio sobre el mensaje de error */
  }
}

