/* Estilos para el contenedor principal que cubre toda la pantalla */
.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/login2.png'); 
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  padding: 0px; 
}
  
/* Ajuste a los estilos del formulario para adaptarse al nuevo contenedor */
.login-container .Login {
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  width: 80%; 
  max-width: 600px;
  background-color: #ffffffc3;
}

/* Estilos para el título "Inicio de sesión" */
.Login legend {
  font-size: 30px; 
  font-weight: bold;
  margin-bottom: 20px; 
  text-align: center; 
  text-transform: uppercase; 
  color: black;
}

/* Estilos para el formulario */
.form-group {
  margin-bottom: 20px; /* Espacio entre grupos de formulario */
}

/* Estilos para la etiqueta */
.form-label {
  display: block; 
  margin-bottom: 0px; 
  font-weight: bold;
  font-size: 20px;
  color: #000000;

}

/* Estilos para el campo de entrada */
.form-control {
  width: 100%; 
  padding: 8px;
  border-radius: 5px; 
  border: 1px solid #ffffff; 
  font-size: 18px; 
}

/* Estilos para el botón */
.btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
  
.btn-outline-danger {
  color: #cd1818;
  border: 1px solid #cd1818;
  background-color: transparent;
}
  
.btn-outline-danger:hover {
  background-color: #dc1818;
  color: #fff;
}

.btn-register {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #dc1818;
  border-radius: 5px;
  background-color: transparent;
  color: #dc1818;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #dc3545;
  color: #fff;
}

/* Estilos para el mensaje de error */
.Login p {
  color: #cd1818;
  font-size: 18px;
  text-align: center;
}

/* Estilos para el contenedor de la imagen */
.image {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 200px; 
}

/* Estilos para la imagen */
.image img {
  max-width: 100%; 
  height: auto;
  display: block; 
}

.image2 {
  width: 35%; 
  text-align: right; 
  border-radius: 10px; 
}

.image2 img {
  width: 100%; 
  height: auto;
  display: block; 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 

}

@media (max-width: 768px) {
  /* ocultar la imagen */
  .image2 {
    display: none;
  }
}

