/* Estilos para el contenedor principal que cubre toda la pantalla */
.reservar-container {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../img/fondos/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    padding: 0px; 
    z-index: -1;
}

.tect-title {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Color del texto */
  text-align: center; /* Alineación del texto */
  margin-bottom: 20px; /* Espacio inferior */
}



.Reservar {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1900px;
    height: 580px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
  }

  
  .sucursales1 {
    width: 400px;
    border: 0px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }
  
  .sucursales {
    width: 400px; /* Establece el ancho de la imagen */
    height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-sucursales {
    padding: 20px;
  }
  
  .card-title-sucursales {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-text-sucursales {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .btn-sucursales {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-sucursales:hover {
    background-color: #cd1818;
  }

  legend button {
    float: right;
}

.cards-container {
  margin-top: 2px;
}

/* Estilos para la imagen pequena */
.pequena {
  display: none; /* Por defecto, la imagen pequeña estará oculta */
  width: 40px; /* Establece el ancho de la imagen */
  height: 40px;
}


/* Media Query para pantallas más grandes */
@media only screen and (min-width: 768px) {
  /* Ocultar la imagen pequeña en pantallas grandes */
  .pequena {
    display: none;
  }

  /* Mostrar la imagen sucursales en pantallas grandes */
  .sucursales {
    display: block;
  }

  .cards-container{
    display: none;
  }
}

/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 767px) {


  /* Ocultar la imagen sucursales en pantallas pequeñas */
  .sucursales1 {
    display: none;
  }

  .card-sucursales {
    display: none;
  }
}
  
  
  

/* Estilo para pantallas más pequeñas (max-width: 768px) */
@media (max-width: 768px) {
    .reservar-container {
      margin-top: 60px; /* Ajusta este valor según la altura de tu barra de navegación */
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrar los elementos horizontalmente */
    }
  
    .Reservar {
      width: 100%;
      max-width: 400px; /* Ancho máximo para evitar ocupar toda la pantalla */
      margin-top: 20px; /* Separación entre los botones de reserva y el formulario */
    }
  
    /* Ajustar la imagen al ancho del contenedor */
    .Reservar img {
      width: 100%;
      height: auto; /* Mantener la proporción original */
    }
  
    /* Reducir el tamaño de la fuente en .Reservar */
    .Reservar {
      font-size: 0.9em; /* Cambiar el valor según lo que consideres adecuado */
    }
  
    /* Ajustar el botón al ancho de .restauarnte1 y hacerlo transparente */
    .Reservar .d-grid {
      width: 100%;
      max-width: 300px; /* Ancho máximo igual a .restauarnte1 */
    }
  
    .Reservar .d-grid a {
      width: 100%;
      background-color: transparent;
      border: 1px solid #dc3545; /* Color del borde */
      color: #dc3545; /* Color del texto */
    }
 
}

  
  
