

.encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.encabezado .menu{
    display: flex;
    gap: 40px;
}

.encabezado .menu-item {
    margin-right: 10px;
}